@media screen and (min-width:0px) and (max-width:768px){
    .botao{
        width: 100%;
        margin: 0 auto;
    }

    h1{
        width: 100%;
        margin: 0 auto;
    }

    p{
        width: 100%;
        margin: 0 auto;
    }

}

@media screen and (min-width:769px) and (max-width:1269px){
    .botao{
        width: 100%;
        margin: 0 left;
    }

    h1{
        width: 100%;
        margin: 0 right;
    }

    p{
        width: 100%;
        margin: 0 right;
    }

}

@media screen and (min-width:1280px) and (max-width:3000px){
    .botao{
        width: 100%;
        margin: 0 left;
    }

    h1{
        width: 100%;
        margin: 0 right;
    }

    p{
        width: 100%;
        margin: 0 right;
    }

}




